<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CtLib.Forms.TestPlatform.Staubli" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="CtLib.Forms.TestPlatform.SocketSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="CtLib.Forms.TestPlatform.Socket" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="CtLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<source name="DefaultLog" switchName="DefaultLogSwitch">
				<listeners>
					<!-- Listener for exporting to an XML file
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="DefaultLog.xml" /> 
			-->
					<!--
			<remove name="Default"/>
			-->
				</listeners>
			</source>
		</sources>
		<switches>
			<!-- Default logging switch. "Verbose" to enable full logging. -->
			<add name="DefaultLogSwitch" value="Error"/>
			<!-- Trace remoting calls. "Verbose" to log ALL calls, "Info" for most. -->
			<add name="TraceRemoting" value="Off"/>
			<!-- Trace plugin installation. -->
			<add name="TracePlugin" value="Error"/>
			<!-- Trace motion calls. "Verbose" to log all moves. -->
			<add name="TraceMotion" value="Off"/>
		</switches>
	</system.diagnostics>
	<appSettings>
		<!-- A list of controllers that will be emulated using already running emulators. -->
		<!-- Each one can be assigned to a dedicated port offset. -->
		<!-- To use this feature: -->
		<!-- The emulators must be already running prior to start ACE or create controllers in the workspace. -->
		<!-- ACE must be started in Emulation Mode. -->
		<!-- The "key" field is the IP address defined in the controller configuration. This address -->
		<!-- is not directly used in emulation mode, it will only be a mean to identify the controller -->
		<!-- in the workspace. -->
		<!-- The "value" field is the port offset that is used by the running emulator. -->
		<!-- Default is 0, but different values can be used to connect to different instances -->
		<!-- of already running emulators. -->
		<!-- For example:
	<add key="127.0.0.1" value="0" />
	-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="HexSight\Controls"/>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<userSettings>
		<CtLib.Forms.TestPlatform.Staubli>
   <setting name="IP" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="Port" serializeAs="String">
    <value>5653</value>
   </setting>
   <setting name="Account" serializeAs="String">
    <value>default</value>
   </setting>
  </CtLib.Forms.TestPlatform.Staubli>
		<CtLib.Forms.TestPlatform.SocketSetting>
			<setting name="AutoClear" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoClose" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Encoding" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="PressEnter" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowSend" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ManualReceive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Protocol" serializeAs="String">
				<value>0</value>
			</setting>
		</CtLib.Forms.TestPlatform.SocketSetting>
		<CtLib.Forms.TestPlatform.Socket>
			<setting name="AutoClear" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoClose" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Encoding" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="PressEnter" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowSend" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ManualReceive" serializeAs="String">
				<value>False</value>
			</setting>
		</CtLib.Forms.TestPlatform.Socket>
		<CtLib.Properties.Settings>
			<setting name="FILE_USERMANAGE" serializeAs="String">
				<value>UserManage.bin</value>
			</setting>
			<setting name="PATH_MAIN" serializeAs="String">
				<value>D:\CASTEC</value>
			</setting>
			<setting name="FOLD_CONFIG" serializeAs="String">
				<value>Config</value>
			</setting>
			<setting name="FOLD_LOG" serializeAs="String">
				<value>Log</value>
			</setting>
			<setting name="FOLD_PROJECT" serializeAs="String">
				<value>Project</value>
			</setting>
			<setting name="FOLD_RECIPE" serializeAs="String">
				<value>Recipe</value>
			</setting>
		</CtLib.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<!--<services>
			<service behaviorConfiguration="serviceBehavior" name="Staubli.Wcf.DebugService.DebugService">
				<endpoint address="" binding="basicHttpBinding" contract="Staubli.Wcf.DebugService.IDebugService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5656"/>
					</baseAddresses>
					<timeouts closeTimeout="00:00:01"/>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
				</behavior>
			</serviceBehaviors>
		</behaviors>-->
		<bindings>
			<basicHttpBinding>
				<binding name="CS8ServerV0BindingConfig" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:10:00" sendTimeout="00:00:10" bypassProxyOnLocal="true" useDefaultWebProxy="false" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" allowCookies="false" hostNameComparisonMode="StrongWildcard">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="MtomBindingConfig">
					<mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12"/>
					<httpTransport maxBufferPoolSize="52428800" bypassProxyOnLocal="true" useDefaultWebProxy="false" maxReceivedMessageSize="6553600" allowCookies="false" authenticationScheme="Anonymous" keepAliveEnabled="true" maxBufferSize="6553600" proxyAuthenticationScheme="Anonymous" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"/>
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV0.CS8ServerV0PortType" name="CS8ServerV0" binding="basicHttpBinding" bindingConfiguration="CS8ServerV0BindingConfig"/>
			<endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV1.CS8ServerV1PortType" name="CS8ServerV1" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>
			<endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV2.CS8ServerV2PortType" name="CS8ServerV2" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>
			<endpoint contract="Staubli.Robotics.Soap.Proxies.ServerV3.CS8ServerV3PortType" name="CS8ServerV3" binding="customBinding" bindingConfiguration="MtomBindingConfig"/>
		</client>
	</system.serviceModel>
</configuration>
