<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CtLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="DefaultLog" switchName="DefaultLogSwitch">
        <listeners>
          <!-- Listener for exporting to an XML file
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="DefaultLog.xml" /> 
			-->
          <!--
			<remove name="Default"/>
			-->
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Default logging switch. "Verbose" to enable full logging. -->
      <add name="DefaultLogSwitch" value="Error"/>
      <!-- Trace remoting calls. "Verbose" to log ALL calls, "Info" for most. -->
      <add name="TraceRemoting" value="Off"/>
      <!-- Trace plugin installation. -->
      <add name="TracePlugin" value="Error"/>
      <!-- Trace motion calls. "Verbose" to log all moves. -->
      <add name="TraceMotion" value="Off"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <!-- A list of controllers that will be emulated using already running emulators. -->
    <!-- Each one can be assigned to a dedicated port offset. -->
    <!-- To use this feature: -->
    <!-- The emulators must be already running prior to start ACE or create controllers in the workspace. -->
    <!-- ACE must be started in Emulation Mode. -->
    <!-- The "key" field is the IP address defined in the controller configuration. This address -->
    <!-- is not directly used in emulation mode, it will only be a mean to identify the controller -->
    <!-- in the workspace. -->
    <!-- The "value" field is the port offset that is used by the running emulator. -->
    <!-- Default is 0, but different values can be used to connect to different instances -->
    <!-- of already running emulators. -->
    <!-- For example:
	<add key="127.0.0.1" value="0" />
	-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <CtLib.Properties.Settings>
      <setting name="FILE_USERMANAGE" serializeAs="String">
        <value>UserManage.bin</value>
      </setting>
      <setting name="PATH_MAIN" serializeAs="String">
        <value>D:\CASTEC</value>
      </setting>
      <setting name="FOLD_CONFIG" serializeAs="String">
        <value>Config</value>
      </setting>
      <setting name="FOLD_LOG" serializeAs="String">
        <value>Log</value>
      </setting>
      <setting name="FOLD_PROJECT" serializeAs="String">
        <value>Project</value>
      </setting>
      <setting name="FOLD_RECIPE" serializeAs="String">
        <value>Recipe</value>
      </setting>
    </CtLib.Properties.Settings>
  </userSettings>
</configuration>
